@charset "utf-8";
/* CSS Document */

body {line-height:1;background:#fff;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
.american_express sup{font-size:14px; }
a {outline:none; border:none; }
img.bg {
    z-index: 0;	
}
img.bg {height: auto;left: 0;min-height: 100%;min-width: 1400px;position: absolute;top: 0;width: 100%;z-index: 0;}
/* support code */

.wrapper {width:973px; height:720px; margin:0px auto;}
.header {height:110px; width:100%;}
.logo {width:71px; height:62px; float:right; margin:25px 0 0 0;}
.contant_outer {background:#ffc20f; position:relative; min-height:448px; background:url(/media/images/bg.jpg) no-repeat;}
.contant_outer_2 {background:#ffc20f; position:relative; min-height:550px;}

.poitee {padding:43px 0 0 30px ;width:103px; height:67px;}
.poitee_hand {width:45px; height:73px; z-index:999; position:relative; margin:-12px 0 0 12px;}

.left_contant {width:270px; height:400px; float:left;}
.left_contant_2 {width:120px; height:400px; float:left;}

.watch_video {width:242px; height:209px; margin:-50px 0 0 30px; }
.facebook {width:100px; height:30px; margin-top:50px;}
.facebook_hover {width:100px; height:47px; background:url(/media/images/facebook.png) no-repeat top; }
.facebook_hover:hover {width:100px; height:48px; background-position:bottom }

.card {width:180px; height:170px; margin:105px 0px 0px 87px;}
.card_2 {width:180px; height:170px; margin:221px 0px 0px 87px;}

/*banner*/
div.rotator {position:relative;margin-left: 0px;display: none;	 }
/* rotator css */
div.rotator ul li {	float:left;	position:absolute;list-style: none;}
/* rotator image style */	
div.rotator ul li img {	padding: 4px; margin:-33px 25px 0px -40px;}
div.rotator ul li.show {z-index:500}

.center_contant {width:317px; height:400px; float:left;}
.center_contant_2 {width:317px; height:400px; float:left; margin-left:-20px;}
.goa_jao {width:267px; height:135px; margin:30px 0px 0px 19px;}
.goa_jao_2 {width:267px; height:135px; margin:55px 0px 0px 18px;}

.banner {width:267px; height:200px; margin-top:0px;margin-left: 60px;}
.from_banner {width:267px; height:200px; margin:0px 0 0 13px;}

.right_contant {width:344px; height:400px; float:left;}
.right_contant_text {font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#363636; line-height:21px; padding:20px 10px 0 15px; width:322px;}
.right_top { width:200px; height:30px;float:right;}
.rewarding {width:350px; height:30px;}

.clear_logo {width:165px; height:40px; float:left; margin-top:0px; margin-left:25px;}

.participate_hover{width:240px; height:65px; margin:0px 15px 3px 14px; background:url(/media/images/pariticipate.png) no-repeat top; }
.participate_hover:hover { background-position:bottom;}

.participate_hover_2 {width:230px; height:65px; margin:30px 17px 8px -5px;}
.participate_hover_2{width:230px; height:65px; margin:30px 17px 8px -5px; background:url(/media/images/pariticipate.png) no-repeat top; }
.participate_hover_2:hover { margin:27px 17px 8px -8px; background-position:bottom;}

.terma_and_condition {width:180px; height:15px; font-size:10px; color:#363636; font-family:Arial, Helvetica, sans-serif; float:right; margin-top:8px;}
.terma_and_condition a{ float:right; font-size:10px; color:#363636; font-family:Arial, Helvetica, sans-serif; text-decoration:none; margin-top:0px;}
.terma_and_condition_2 {width:350px; height:15px; font-size:10px; color:#363636; font-family:Arial, Helvetica, sans-serif; float:right; margin-top:21px;}
.terma_and_condition_2 span{margin: 0px 5px ;
    float: left;}
.terma_and_condition_2 a{ float:left; font-size:10px; color:#363636; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.copyright {width:260px; float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#134567; margin-right:0px;}

.fotter {width:937px; margin:0px auto; background:url(/media/images/bg_card_blue.png) no-repeat; height:109px; }
.fotter_text { width:498px; height:100px; float:left; margin:0px 0px 0px 270px;}
.american_express {font-size:21px; color:#134567; margin-top:20px; font-family:Arial, Helvetica, sans-serif;}

.apply_now {width:70px; float:left; margin-top:34px;}
.apply_now_hover {width:130px; float:left;background:url(/media/images/apply_now.png) no-repeat top; height:40px;}
.apply_now_hover:hover {width:130px; float:left; height:44px; background-position:bottom;}

.rewards { font-size:16px; color:#134567; margin-top:5px; font-family:Arial, Helvetica, sans-serif; line-height:20px;}
.middle_box {width:320px; height: 400px; float:left; margin:30px 0 0 300px;}
.form_top {height:170px;}

.garima_header {width:300px; height:60px; margin-top:35px; border-bottom:1px solid #1f4999; }
.right_contant_2 {width:537px; height:500px; float:left; margin-left:19px; }
h2 {font-size:24px; color:#215578; width:auto; float:left; font-weight:lighter; font-family:Arial, Helvetica, sans-serif; padding-left:15px;}
.make {font-size:16px; color:#215578; font-weight:lighter; font-family:Arial, Helvetica, sans-serif;}
.facebook_icon {float:left; margin:23px 0 0 5px; width:auto;}
.make {margin:20px 0px 20px 15px; }
.clear {clear:both;}

.fancybox-skin {width:550px !important; height:316px; margin-top:0px;}
img a{outline:none;}
a {outline:none}

#fancybox-content{height: 240px !important; background:#ffc20f !important; width:518px !important; }

.from {width:203px; height:50px; padding-left:19px; font-size:16px; color:#333; float:left; }

span.customSelect {font-size:11px;background-color: #f5f0de;color:#7c7c7c;	padding:7px 7px;border:1px solid #e7dab0;-moz-border-radius: 7px;-webkit-border-radius: 7px;	border-radius: 7px 7px;	width:230px;}
span.customSelect.changed {	background-color: #f0dea4; padding:10px 0 0 0px;}
.customSelectInner {background:url('/media/images/customSelect-arrow.gif') no-repeat center right;}

span.customSelect {	font-size:13px;	background-color: #ffda6f;	color:#333;	padding:12px 10px;	border:1px solid #ebb20e;-moz-border-radius: 5px;-webkit-border-radius: 5px;	border-radius: 7px 7px; font-family:Arial, Helvetica, sans-serif; width:185px; height:30px;	}
span.customSelect.changed {	background-color: #f0dea4; }
.customSelectInner {background:none; width:130px !important;padding:0px 50px 0 0;}
option {background:#ffda6f; }
	
.or { width:26px; height:10px; font-size:16px;  float:left; padding:11px 4px 0 24px; margin-right:-21px; }
.from_text {background: url(/media/images/form_box.png) no-repeat;padding: 5px;width: 213px !important;border: none;height: 30px; color:#7c7c7c;}
.form_imformation {font-size:11px; color:#636363;padding:7px 5px 5px 24px; font-family:Arial, Helvetica, sans-serif; width:180px; }

.continue_hover {float:right; margin:20px 30px 0px 0px;}
.continue_hover{ width:175px; height:62px; float:right; margin:30px 30px 0px 0px; background:url(/media/images/continue.png) no-repeat top;}
.continue_hover:hover {float:right; margin:30px 30px 0px 0px; background-position:bottom;}

.text14	{font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#363636; width:379px; margin-left:17px;}

.box  {width:512px; height:248px; background:#ffc20f; margin-top:20px; }
.left_img {width:170px; height:190px; float:left;  margin-top:25px; float:left; margin-left:17px;}
.right_just { width:280px; height:220px; float:left; margin:40px 0 0 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; line-height:22px; }
.num_from {width:250px; float:left;}
.skip {width:50px; height:60px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000; float:left; margin-top:20px;}
.sumit {width:100px; height:60px; float:left;  margin-top:10px;}

.fancybox-wrap {height: auto;  left: 358px;  opacity: 1;  overflow: visible;  position: absolute;   top: 131px;    width: 500px;}

.styled .hasCustomSelect {width:209 !important;}
.fancybox-inner {width:551px !important; height:270px !important;}
.styled hasCustomSelect {width:219px !important;}

.treading_rodis {width:200px; height:38px;  margin: 0px 0 0 62px;}

.jodi_menu {width:200px; height:180px; margin: 0px 0 0 80px;}
.jodi_menu ol { margin:auto; padding:0px;}
.jodi_menu li { height:15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; margin-top:7px; list-style:none; margin-left:-10px;}
.jodi_menu a{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-decoration:none; }

.harmonium {width:300px; height:50px; font-family:"Times New Roman", Times, serif; font-size:28px; color:#FFF; margin: 0 0 18px 18px;}
.your_jodi {width:440px; height:15px; padding:15px; background:#ffd65e; font-family:Georgia, "Times New Roman", Times, serif; font-size:15px; color:#134567;}
.hurry {width:510px; margin:0px 0px 0px 14px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#134567; margin-top:30px; line-height:20px; float:left;}

.share_now_hover {width:170px; height:59px; float:left; background:url(/media/images/share_now.png) no-repeat top; margin:18px 0px 0px 0px }

.share_now_hover:hover {width:170px;  float:left; background-position:bottom; margin:19px 0px 0px 0px;  height:62px;}
.twitter{background:url(/media/images/twitter.png) no-repeat top;height:42px;width:102px;float:left;margin-top: 22px;}
.vote_hover {width:115px; height:56px; float:left; background:url(/media/images/vote.png) no-repeat top; margin:10px 0px 0px 0px ;}
.vote_hover a {width:115px; float:left;  height:56px;}
.vote_hover:hover {width:115px; height:56px;  float:left; background-position:bottom;  margin:10px 0px 0px 0px ; }

.vote_contain {width:206px; height:50px; font-size:16px; color:#134567; font-family:Arial; float:left; margin-top:17px; line-height:21px; }
.vote_participate_now {width:220px; height:50px; float:left;}

.trip_to_goa {width:491px; height:120px; border-bottom:2px dotted #c7a035; border-top:2px dotted #c7a035;  float:right; margin: 50px 48px 0 20px;  }
.trip_to_goa_contain {width:263px; font-size:14px; color:#134567; line-height:22px; font-family:Arial; padding:23px 0px 0px 7px; float:left;}
.text_blue_14 {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#134567;}	
.text_blue_16 {font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#134567;}

.odd {background:#ffce3f; height:15px; padding:3px 2px 2px 0px ; margin-left:-22px; list-style:none; }


.contant_outer_tnc {
    background: none repeat scroll 0 0 #FFC20F;
    min-height: 1700px;float: left;
}
.right_contant_tnc_2 {
    float: left;
    height: 1231px;
    margin-left: 20px;
    width: 950px;
}

.garima_header_tnc {
    float: right;
    height: 30px;
    margin-top: 125px;
    width: 503px;
}

h3 {
    color: #215578;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: lighter;
    width: auto;
}

.about h3,.garima_header_tnc h3{width:100%;float:left}
.left_contain_tnc {width:950px; height:1000px; float:left; margin-left:20px; margin-top:0px;}
.tnc_logo {padding:20px; margin-top:20px; width:280px; height:135px;}
.about {font-size:12px; color:#215578; ; font-family:Arial, Helvetica, sans-serif; padding:0px 10px 10px; margin:0px 10px 10px; line-height:18px; height:966px;}
.term_and_condition_contain {width:925px; height:auto; float:left;}
.term_and_condition_contain ul{ width:900px; list-style-type:disc; float: left;padding: 0px;}
.term_and_condition_contain li{font-size:12px; color:#215578; font-weight:lighter; font-family:Arial; padding:5px 10px 5px 0px; margin:5px 10px 5px 0px; line-height:18px; list-style-type:disc;}
.foter_box {
    height: 119px;
    width: 960px;
}
.fotter_tnc {
    background: url("/media/images/bg_card_blue.png") no-repeat scroll 0 0 transparent;
    height: 109px;
    margin: 0 auto;
    position: relative;
    width: 937px;
    float: left;
}
.card_tnc {
    float: left;
    height: 170px;
    margin: -85px 0 0 30px;
    position: relative;
    width: 180px;
    z-index: 999;
}
.vote_contain_2 {
    color: #134567;
    float: left;
    font-family: Arial;
    font-size: 25px;
    height: 28px;
    line-height: 21px;
    margin-top: 28px;
    width: 410px;
}
.marright{}
.terma_and_condition span{float: left;margin:0px 5px}









.apply_now_tnc {width:130px; float:left; margin-top:30px;}
.apply_now_tnc_hover {width:130px; float:left;background:url(../images/apply_now.png) no-repeat top; height:40px; }
.apply_now_tnc_hover:hover {width:130px; float:left; height:44px; background-position:bottom; margin-top:15px; }

#mcs4_container{/*position:absolute;*/ left:340px; top:0px; margin:10px ; width:500px; height:390px; padding:0px 0px; /*border:1px dotted #09C; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;*/}
#mcs4_container .customScrollBox{position:relative; height:100%; overflow:hidden; float:left; margin-left:-20px;}
#mcs4_container .customScrollBox .container{position:relative; width:489px; top:0; float:left;}

#mcs4_container .dragger_container{position:relative; width:0px; height:387px; float:right; margin:3px 10px 0px 0; border-left:6px solid #1b4786; cursor:pointer;}
#mcs4_container .dragger{background: none repeat scroll 0 0 #0099FF;  border-radius: 0 0 0 0; cursor: pointer;    height: 57px !important;  margin-left: -6px; overflow: hidden; position: absolute; text-align: center;  width: 6px;}
#mcs4_container .dragger_pressed{background: none repeat scroll 0 0 #0099FF;  border-radius: 0 0 0 0; cursor: pointer;    height: 57px !important;  margin-left: -6px; overflow: hidden; position: absolute; text-align: center;  width: 6px;cursor:pointer;}
.dragger ui-draggable {display: block;height: 73px !important; line-height: 73px;}

.right_contant_tnc_2 {width:368px; height:1231px; float:left;  }
.fotter_tnc {width:765px; margin:0px auto; background:url(../images/bg_card_blue.png) no-repeat; height:109px; position:relative; }
/*.fotter_text {  float: left; height: 100px; margin: 0 0 0 204px; width: 420px;}*/
.fotter_text_2 { width:422px; height:100px; float:left; margin:-8px 0px 0px 22px;}
.american_express {font-size:18px; color:#134567; margin-top:20px; font-family:Arial, Helvetica, sans-serif;}
.card_tnc {width:170px; height:170px; margin:-85px 0 0 18px; float:left; position:relative; z-index:999;  }
.foter_box {width:780px; height:119px;}
.garima_header_tnc { float: left; height: 30px;  margin-bottom: 15px; margin-left: 23px; margin-top: 119px; width: 365px;} 
h2 {font-size:24px; color:#215578; width:auto; float:left; font-weight:lighter; font-family:Arial, Helvetica, sans-serif; padding-left:15px;}
h3 {font-size:24px; color:#215578;font-weight:lighter; font-family:Arial, Helvetica, sans-serif;}
.li_contain {margin-left:20px;}


.leadboad {width:496px;margin:0px;list-style:none;padding:0px;}
.leadboad li{width:100px; height:140px; margin:10px;list-style:none;padding:0px;display:inline-block}
.ashok {width:100%; height:20px; font-family:Arial; font-size:14px; color:#1b4786; text-align:center;}
.red {width:100%; height:20px; font-family:Arial; font-size:12px; color:#a0410d; text-align:center;}
.from_left_contant {width:315px; height:500px; float:left; margin-left:0px; }
h2 {font-size:24px; color:#215578; width:auto; float:left; font-weight:lighter; font-family:Arial, Helvetica, sans-serif; }
.hmright{width:100%;float:left;margin-bottom: 10px;}