<div class="fotter">
    <div class="fotter_text">
        <div class="american_express"> The New American Express PAYBACK<sup>&reg;</sup> Credit Card</div>
        <div class="rewards"> rewards you with points from both American Express and PAYBACK.</div>
    </div>
    <div class="apply_now"><a href="https://www252.americanexpress.com/inga2/ind/pers/begin.do?perform=IntlEapp:IND:payback_credit&linknav=IN-PaybackDetails-ApplyNow" target="_blank"><div class="apply_now_hover"></div></a></div>
</div>

<div class="copyright">Copyright © 2013 American Express Company</div>