{% extends "layoutbase.html" %}
{% block bodycontent %}


    <div class="contant_outer_2">
 	    <div class="left_contant_2">
        	<div class="form_top"></div>
            <div class="facebook"><a href="https://www.facebook.com/AmericanExpressIndia" target="_blank"><div class="facebook_hover"></div></a></div>
            <div class="clear"></div>
           <div class="card_2"><a href="https://www.americanexpress.com/in/content/payback-card/" target="_blank"><img src="{{MEDIA_URL}}/images/pay_back_card.png" border="0"></a></div> 
        </div>
       
        <div class="center_contant_2">
         	<div class="goa_jao_2"><img src="{{MEDIA_URL}}images/rewarding_small.png"></div>
                <div class="from_banner">
                	<div class="rotator">
                      <ul>
                        <li class="show"><a href="#link1"><img src="{{MEDIA_URL}}/images/banner1.png" border="0" /></a></li>
                        <li><a href="#link2"><img src="{{MEDIA_URL}}/images/banner2.png" border="0"/></a></li>
                        <li><a href="#link3"><img src="{{MEDIA_URL}}/images/banner3.png" border="0"/></a></li>
                        
                      </ul>
                    </div>
                </div>
          </div>
      
    <div class="right_contant_2">
    <div class="garima_header">	
        <h2>Hi {{facebookName}}</h2>
        <div class="facebook_icon"><img src="{{MEDIA_URL}}/images/facebook_icon.png"></div>
        <div class="clear"></div>
        
    </div>
   <form method="post" action="{% url trendingjodi %}" id="user_jodi">
    <input type="hidden" name="fb_id" value="{{facebookid}}"/>
    <input type="hidden" name="mobile_no" value=""/>
    <div class="make">Make your Jodi a rewarding one in 3 simple steps:</div> 
    <div class="tell_us"><img src="{{MEDIA_URL}}/images/tell.png"></div><br>

    <div class="make">Choose from the list or enter your own rewarding Jodi</div>
   	<div class="from">
   	    {{ form.jodi }}
		<!-- <select class="styled" style=" background: url({{MEDIA_URL}}/images/form_box_1.png) no-repeat;padding:13px 20px 0px 10px; width:215px !important;border: none;height: 25px; " >
         </select>
         -->
     </div>     
     	
     <div class="or">-or-</div>
      	<div class="from">
      	{{ form.jodi_custom }} 
        <!--  <input type="text" name="" style=" background: url({{MEDIA_URL}}/images/form_box.png) no-repeat;padding:5px 50px 5px 10px;width: 197px;border: none;height: 30px;"> -->
        <div class="form_imformation">eg, Jai & Veeru or Chai & Samosa.</div>
    </div>
    <div class="continue"><div class="cls_continue continue_hover"></div></div>
    <!--<input type="submit" name="submit" value="submit"/>-->
    </form>
    </div>  
      
      <div class="terma_and_condition_2"><a class="marright" href="{% url terms %}" target="_blank">Terms and Conditions apply</a>
          <span>|</span><a class="marright" href="{% url about %}" target="_blank">About the Contest.</a><span>|</span>
          <a href="{% url terms %}" target="_blank" >Leader Board.</a></div>
      
    </div>


    {% include "no.html" %}
{% endblock bodycontent %}

{% block ASYJS %}
{{ block.super }}
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.customSelect.min.js"></script>
    <script type="text/javascript">
    $('.styled').customSelect();</script>
{% endblock ASYJS %}