<html>
    <body>
        <p> Hi {{me.name}}</p>
        <h1>Below is your personal information :</h1>
        <br/>
        First Name : {{me.first_name}}
        <br/>
        Last Nmae  : {{me.last_name}}
        <br/>
        Gender     : {{me.gender}}
        <br/>
        Locale     : {{me.locale}}
        <br/>
        Email Id:  : {{me.email}}
        <br/>
        Your B'Day': {{me.birthday}}
        <br/>
        YourHometown:{{me.hometown}}
        <br/>
        Current City:{{me.location}}
    </body>
</html>