{% extends "layoutbase.html" %}
{% block bodycontent %}


    <div class="contant_outer">
 	    <div class="left_contant">
            <div class="watch_video"> <a href="{% url video %}" class="fancybox iframe.fancybox"  style="color:#0072bc; text-decoration:none;"><img src="{{MEDIA_URL}}/images/watch_video.png" border="0"></a></div>
           <div class="facebook"><a href="https://www.facebook.com/AmericanExpressIndia" target="_blank"><div class="facebook_hover"></div></a></div>
            <div class="clear"></div>
            <div class="card"><a href="https://www.americanexpress.com/in/content/payback-card/" target="_blank"><img src="{{MEDIA_URL}}/images/pay_back_card.png" border="0"></a></div> 
        </div>
       
        <div class="center_contant">
         	<div class="goa_jao"><img src="{{MEDIA_URL}}/images/goa_jao.png"></div>
                <div class="banner">
                 <div class="rotator">
                      <ul>
                        <li class="show"><a href="#link1"><img src="{{MEDIA_URL}}/images/banner1.png" border="0" /></a></li>
                        <li><a href="#link2"><img src="{{MEDIA_URL}}/images/banner2.png" border="0"/></a></li>
                        <li><a href="#link3"><img src="{{MEDIA_URL}}/images/banner3.png" border="0" /></a></li>
                        
                      </ul>
                    </div>
                </div>
       </div>
      
    <div class="right_contant">
    	<div class="right_top"></div>
        <div class="clear"></div>
          <div class="right_contant_text">Rain is no fun without the steaming hot pakoras. Anarkali is incomplete without Salim. It’s the perfect 						             chemistry between the two that makes them amongst the most rocking jodis. Just like the rewarding duo of American Express and PAYBACK.            <br><br>
              Think you know a better one? Participate in the
            <div class="rewarding"><img src="{{MEDIA_URL}}/images/rewarding.jpg"></div>
              and boost your chances of winning a trip for two to Goa, worth Rs.30,000, sponsored by Cleartrip.com.
              You can also win exciting Cleartrip.com vouchers worth Rs.20,000 and Rs.10,000.
         </div>
		<div class="participate"><a href="{% url home %}"><div class="participate_hover"></div></a></div>
        <div class="clear_logo"><img src="{{MEDIA_URL}}/images/clear_trip_logo_1.png" ></div>
        <div class="terma_and_condition"><a href="{% url terms %}" target="_blank">Terms and Conditions apply.</a></div>
    
    </div>  
      
      
    </div>

{% endblock bodycontent %}
