<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>American Express Payback</title>

<link href="{{MEDIA_URL}}/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />

<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css" />
<![endif]-->

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7.css" />
<![endif]-->



<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/s3Slider.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/s3Slider.js"> </script>


	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="{{MEDIA_URL}}/js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript">
function theRotator() {
	//Set the opacity of all images to 0
	$('div.rotator ul li').css({opacity: 0.0});
	
	//Get the first image and display it (gets set to full opacity)
	$('div.rotator ul li:first').css({opacity: 1.0});
		
	//Call the rotator function to run the slideshow, 6000 = change to next image after 6 seconds
	
	setInterval('rotate()',3000);
	}

function rotate() {	
	//Get the first image
	var current = ($('div.rotator ul li.show')?  $('div.rotator ul li.show') : $('div.rotator ul li:first'));
    if ( current.length == 0 ) current = $('div.rotator ul li:first');
	//Get next image, when it reaches the end, rotate it back to the first image
	var next = ((current.next().length) ? ((current.next().hasClass('show')) ? $('div.rotator ul li:first') :current.next()) : $('div.rotator ul li:first'));
		//Un-comment the 3 lines below to get the images in random order
	
	//var sibs = current.siblings();
    //var rndNum = Math.floor(Math.random() * sibs.length );
    //var next = $( sibs[ rndNum ] );
			
	//Set the fade in effect for the next image, the show class has higher z-index
	next.css({opacity: 0.0})
	.addClass('show')
	.animate({opacity: 1.0}, 1000);

	//Hide the current image
	current.animate({opacity: 0.0}, 1000)
	.removeClass('show');
};

$(document).ready(function() {		
	//Load the slideshow
	theRotator();
	$('div.rotator').fadeIn(1000);
    $('div.rotator ul li').fadeIn(1000); // tweek for IE

			$('.fancybox').fancybox({
					'autoScale'         : false,
				    'autoDimensions'    : false,
					'padding'			: 0,
					'margin'			: 0,
				    'scrolling'         : 'no',
				    'transitionIn'      : 'none',
				    'transitionOut'     : 'none',
				    'type'              : 'iframe'
					
			});
		
			$('#slides').slides({
				preload: false,
				preloadImage: 'img/loading.gif',
				play: 4000,
				pause: 2000,
				hoverPause: true
			});
			
			$('#slider').s3Slider({
				timeOut: 2000
			});
		
			
		});
	</script>	
</head>

<body>
<div class="wrapper">
	<div class="header">
    	<div class="logo"><a href="https://www.americanexpress.com/india/" target="_blank"><img src="{{MEDIA_URL}}/images/logo.jpg" border="0"></a></div>
        <div class="poitee"><img src="{{MEDIA_URL}}/images/top_poitee.png"></div>
        <div class="poitee_hand"><img src="{{MEDIA_URL}}/images/hand.png"></div>
        
    </div>
    <div class="contant_outer">
 	    <div class="left_contant">
            <div class="watch_video"> <a href="video/video.html" class="fancybox iframe.fancybox"  style="color:#0072bc; text-decoration:none;"><img src="{{MEDIA_URL}}/images/watch_video.png" border="0"></a></div>
           <div class="facebook"><a href="https://www.facebook.com/AmericanExpressIndia" target="_blank"><div class="facebook_hover"></div></a></div>
            <div class="clear"></div>
            <div class="card"><a href="https://www.americanexpress.com/in/content/payback-card/" target="_blank"><img src="{{MEDIA_URL}}/images/pay_back_card.png" border="0"></a></div> 
        </div>
       
        <div class="center_contant">
         	<div class="goa_jao"><img src="{{MEDIA_URL}}/images/goa_jao.png"></div>
                <div class="banner">
                 <div class="rotator">
                      <ul>
                        <li class="show"><a href="#link1"><img src="{{MEDIA_URL}}/images/banner1.png" border="0" /></a></li>
                        <li><a href="#link2"><img src="{{MEDIA_URL}}/images/banner2.png" border="0"/></a></li>
                        <li><a href="#link3"><img src="{{MEDIA_URL}}/images/banner3.png" border="0" /></a></li>
                        
                      </ul>
                    </div>
                </div>
       </div>
      
    <div class="right_contant">
    	<div class="right_top"></div>
          <div class="right_contant_text">Rain is no fun without the steaming hot pakoras. Anarkali is incomplete without Salim. It’s the perfect 						             chemistry between the two that makes them amongst the most rocking jodis. Just like the rewarding duo of American Express and PAYBACK.            <br><br>
            Think you know a better one? Participate in the 
            <div class="rewarding"><img src="{{MEDIA_URL}}/images/rewarding.jpg"></div>
            and boost your chances of winning a trip for two to Goa.
         </div>
		<div class="participate"><a href="{% url home %}"><div class="participate_hover"></div></a></div>
        <div class="terma_and_condition"><a href="#" target="_blank">Terms and Conditions apply.</a></div>
    
    </div>  
      
      
    </div>
    <div class="fotter">
    	<div class="fotter_text">
        	<div class="american_express"> The New American Express PAYBACK<sup>&reg;</sup> Credit Card</div>
            <div class="rewards"> rewards you with points from both American Express and PAYBACK -<br>
								 India’s largest loyalty programme.</div>
            </div>
            <div class="apply_now"><a href="https://www252.americanexpress.com/inga2/ind/pers/begin.do?perform=IntlEapp:IND:payback_credit&linknav=IN-PaybackDetails-ApplyNow" target="_blank"><div class="apply_now_hover"></div></a></div>
    </div>
    
    <div class="copyright">Copyright © 2013 American Express Company</div>
</div>
</body>
</html>
