{% extends "layoutbase.html" %}
{% block bodycontent %}

    
    <div class="contant_outer_2">
      <div class="from_left_contant">
   	    <div class="goa_jao"><img src="{{MEDIA_URL}}images/goa_jao.png"></div>
                <div class="treading_rodis"><img src="{{MEDIA_URL}}images/treading_jodis.jpg"></div>
                <div class="jodi_menu">
                	<ol>
                      {% for jodi in trending_jodi %}
                          <li class="odd"><a href="#"> {{forloop.counter}}.  {{jodi}}</a></li>
                      {% endfor %}    
                    </ol>

                
                </div>
               <div class="card_2"><a href="https://www.americanexpress.com/in/content/payback-card/" target="_blank"><img src="{{MEDIA_URL}}images/pay_back_card.png" border="0"></a></div>
             
       </div>
       <div class="right_contant_2">
    <div class="leaderboard">	
        <h2>Leaderboard</h2>
        
        <div class="clear"></div>
    </div>
    <div class="share_now"></div>
    
 <div id="mcs4_container">
	<div class="customScrollBox">
		<div class="container">
    		<div class="content" >
            <ul class="leadboad">
          		  {% for jodi in jodis %}
          		  <li>
          		  
                      <div class="leadboad_img"><img src="https://graph.facebook.com/{{jodi.profile.facebook_id}}/picture?width=95&height=95"></div>
                      <div class="ashok">{{jodi.profile.facebook_firstname}}</div>
                        <div class="red">{{jodi.counter}} Points</div>
                 </li>
          		  {% endfor %}

            </ul>
</div>

    
</div>

		</div>
		<div class="dragger_container">
    		<div class="dragger" style="" ></div>
		</div>
	</div>
              
       </div>
    </div>
 

    
    	



{% endblock bodycontent %}


{% block ASYJS %}
{{ block.super }}
    <script src="{{MEDIA_URL}}/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            mCustomScrollbars();
        });

        function mCustomScrollbars(){

            $("#mcs4_container").mCustomScrollbar("vertical",0,"easeOutCirc",1,"fixed","yes","no",0);
        }

        /* function to fix the -10000 pixel limit of jquery.animate */
        $.fx.prototype.cur = function(){
            if ( this.elem[this.prop] != null && (!this.elem.style || this.elem.style[this.prop] == null) ) {
                return this.elem[ this.prop ];
            }
            var r = parseFloat( jQuery.css( this.elem, this.prop ) );
            return typeof r == 'undefined' ? 0 : r;
        }
    </script>
{% endblock ASYJS %}