{% extends "layoutbase.html" %}
{% block bodycontent %}
<div class="wrapper">
	<div class="header">
    	<div class="logo"><a href="https://www.americanexpress.com/india/" target="_blank"><img src="{{MEDIA_URL}}images/logo.jpg" border="0"></a></div>
       
    </div>
    
    <div class="contant_outer_2">
      <div class="from_left_contant">
   	    <div class="goa_jao"><img src="{{MEDIA_URL}}images/goa_jao.png"></div>
                <div class="treading_rodis"><img src="{{MEDIA_URL}}images/treading_jodis.jpg"></div>
                <div class="jodi_menu">
                	<ol>
                      {% for jodi in trending_jodi %}
                          <li class="odd"><a href="#"> {{forloop.counter}}.  {{jodi}}</a></li>
                      {% endfor %}    
                    </ol>
                	<!--
                	<ol>
                    	<li class="odd"><a href="#">1.  Santa & Banta</a></li>
                        <li><a href="#">2. Chai & Samosa</a></li>
                        <li class="odd"><a href="#">3. Nachos & Salsa</a></li>
                        <li><a href="#">4. Rabri & Jalebi</a></li>
                        <li class="odd"><a href="#">5. Rumali Roti & Kababs</a></li>
                        <li><a href="#">6. Chacha Choudhary & Saboo</a></li>
                        <li class="odd"><a href="#">7. French Fries & Burgers</a></li>
                        <li><a href="#">8. Bread & Jam</a></li>
                        <li class="odd"><a href="#">9. Chocolate & Strawberry</a></li>
                        <li><a href="#">10. Sun & Sand</a></li>
               
                </ol>-->
                
                </div>
               <div class="card_2"><a href="https://www.americanexpress.com/in/content/payback-card/" target="_blank"><img src="{{MEDIA_URL}}images/pay_back_card.png" border="0"></a></div>
             
       </div>
       <div class="right_contant_2">
    <div class="leaderboard">	
        <h2>Leaderboard</h2>
        
        <div class="clear"></div>
    </div>
    <div class="share_now"></div>
    
 <div id="mcs4_container">
	<div class="customScrollBox">
		<div class="container">
    		<div class="content" >
            <ul class="leadboad">
          		  {% for jodi in jodis %}
          		  <li>
          		  
                      <div class="leadboad_img"><img src="https://graph.facebook.com/{{jodi.profile.facebook_id}}/picture"></div>
                      <div class="ashok">{{jodi.profile.facebook_firstname}}</div>
                        <div class="red">{{jodi.counter}} Points</div>
                 </li>
          		  {% endfor %}
          		  <!--<li>
                      <div class="leadboad_img"><img src="images/leadboard_img.jpg"></div>
                      <div class="ashok">Ashok</div>
                        <div class="red">1234 Points</div>
                 </li>
                 <li>
                      <div class="leadboad_img"><img src="images/leadboard_img2.jpg"></div>
                      <div class="ashok">Vinod</div>
                        <div class="red">1234 Points</div>
                 </li>
                  <li>
                      <div class="leadboad_img"><img src="images/leadboard_img3.jpg"></div>
                      <div class="ashok">Priya</div>
                        <div class="red">1234 Points</div>
                 </li>
                 <li>
                      <div class="leadboad_img"><img src="images/leadboard_img4.jpg"></div>
                      <div class="ashok">Suraj</div>
                        <div class="red">1234 Points</div>
                 </li>
                  <li>
                      <div class="leadboad_img"><img src="images/leadboard_img5.jpg"></div>
                      <div class="ashok">Ajay</div>
                        <div class="red">1234 Points</div>
                 </li>
                 <li>
                      <div class="leadboad_img"><img src="images/leadboard_img6.jpg"></div>
                      <div class="ashok">Sonam</div>
                        <div class="red">1234 Points</div>
                 </li>
                  <li>
                      <div class="leadboad_img"><img src="images/leadboard_img7.jpg"></div>
                      <div class="ashok">Ashok</div>
                        <div class="red">1234 Points</div>
                 </li>
                 <li>
                      <div class="leadboad_img"><img src="images/leadboard_img2.jpg"></div>
                      <div class="ashok">Ritu</div>
                        <div class="red">1234 Points</div>
                 </li>
                  <li>
                      <div class="leadboad_img"><img src="images/leadboard_img3.jpg"></div>
                      <div class="ashok">Jogi</div>
                        <div class="red">1234 Points</div>
                 </li>
                 <li>
                      <div class="leadboad_img"><img src="images/leadboard_img4.jpg"></div>
                      <div class="ashok">Sanchu</div>
                        <div class="red">1234 Points</div>
                 </li>
                  <li>
                      <div class="leadboad_img"><img src="images/rajesh.jpg"></div>
                      <div class="ashok">Ashok</div>
                        <div class="red">1234 Points</div>
                 </li>
                 <li>
                      <div class="leadboad_img"><img src="images/leadboard_img.jpg"></div>
                      <div class="ashok">Ashok</div>
                        <div class="red">1234 Points</div>
                 </li>-->
            </ul>
</div>

    
</div>

		</div>
		<div class="dragger_container">
    		<div class="dragger" style="" ></div>
		</div>
	</div>
              
       </div>
    </div>
 
    <div class="fotter">
    	<div class="fotter_text">
        	<div class="american_express"> The New American Express PAYBACK<sup>&reg;</sup> Credit Card</div>
            <div class="rewards"> rewards you with points from both American Express and PAYBACK -<br>
								 India’s largest loyalty programme.</div>
            </div>
            <div class="apply_now"><a href="https://www252.americanexpress.com/inga2/ind/pers/begin.do?perform=IntlEapp:IND:payback_credit&linknav=IN-PaybackDetails-ApplyNow" target="_blank"><div class="apply_now_hover"></div></a></div>
    </div>
    
    	
</div>

<script src="{{MEDIA_URL}}/js/jquery.mCustomScrollbar.js"></script>
<script>
$(window).load(function() {
	mCustomScrollbars();
});

function mCustomScrollbars(){
	/* 
	malihu custom scrollbar function parameters: 
	1) scroll type (values: "vertical" or "horizontal")
	2) scroll easing amount (0 for no easing) 
	3) scroll easing type 
	4) extra bottom scrolling space for vertical scroll type only (minimum value: 1)
	5) scrollbar height/width adjustment (values: "auto" or "fixed")
	6) mouse-wheel support (values: "yes" or "no")
	7) scrolling via buttons support (values: "yes" or "no")
	8) buttons scrolling speed (values: 1-20, 1 being the slowest)
	*/
	$("#mcs4_container").mCustomScrollbar("vertical",0,"easeOutCirc",1,"fixed","yes","no",0); 
}

/* function to fix the -10000 pixel limit of jquery.animate */
$.fx.prototype.cur = function(){
    if ( this.elem[this.prop] != null && (!this.elem.style || this.elem.style[this.prop] == null) ) {
      return this.elem[ this.prop ];
    }
    var r = parseFloat( jQuery.css( this.elem, this.prop ) );
    return typeof r == 'undefined' ? 0 : r;
}
</script>
{% endblock bodycontent %}