
<div class="box cls_box disable">
    <div class="left_img"><img src="/media/images/no_img.jpg"></div>
    <div class="right_just">Just in case your rewarding jodi wins, your contact details would be the fastest way to send you to Goa.
        <div class="num_from">
            <input type="text" id="cls_mob" maxlength="12" name="mobile" class="mobs" />
            <span style="font-size:10px;float:left;line-height: 15px;">By signing up, I agree to being contacted by American Express Banking Corp through Phone, Email and SMS.</span>
        </div>
        <div class="clear"></div>
        <div class="skip"><a href="" class="cls_continue_mob cls_skip" style=" color:#000; text-decoration:none;">Skip </a>| </div>
        <div class="sumit"><a href="javascript:void(0)" class="cls_continue_mob"><img src="/media/images/sumit.jpg" style="vertical-align:bottom;" border="0" /></a></div>
    </div>

</div>
