{% extends "layoutbase.html" %}

{% block css.custom %}
    <style type="text/css">

    .poitee,.poitee_hand{display: none;}
    </style>
{% endblock css.custom %}

{% block bodycontent %}

<div class="contant_outer_tnc">
      <div class="left_contain_tnc">
        	<div class="tnc_logo"><a href="{% url jodibreakerapp.views.index %}"><img src="{{MEDIA_URL}}images/goa_jao.png" border="0"></a></div>

          <div class="about">
              <h3>Term and Conditions</h3><br><br>

              <div class="term_and_condition_contain">
                  <ul>
                      <li>
                      This Contest is open to Eligible Contestants as set out below. Eligible Contestants are participants who:
<div class="li_contain">
a. are at least 21 years of age;
b. reside in India at the time of participation in the Contest;
c. have a Facebook account;
d. allow access to the on Facebook ("the Application").
</div>
</li>
<li>From <date> to <date> ("Contest Period"), eligible Contestants may participate in the Contest by either selecting from or submitting their rewarding 'Jodi' via the Application. There is no limit to the number of 'Jodis' that one can submit.</li>
<li>Eligible Contestants may get their Facebook friends to 'vote' the Jodi submitted. There is no limit to the number of 'Jodis' that each friend may vote for. However, each Friend may only vote once for each 'Jodi' submitted.</li>
<li>Eligible Contestant who gets the maximum number of 'likes' during the contest period, will be the winner.</li>
<li>American Express reserves the right to reject and delete 'Jodis' that it deems inappropriate. American Express will have the sole and final discretion in selection of the winners and will not entertain any requests in this regard.</li>
<li>Announcement of the Contest winners will be done through the American Express India Facebook page newsfeed facebook.com/AmericanExpressIndia.</li>
<li>In case of a tie, the American Express jury will select the winner based on the most 'Liked' Jodi.</li>
<li>By participating in the Contest, each Eligible Contestant agrees to be contacted by American Express for any marketing or promotional program.</li>
<li>By participating in the Contest, each Eligible Contestant grants American Express a worldwide and irrevocable license to publicise his/her name in such mode and manner as it considers fit.</li>
<li>Within 5 (five) days from receipt of intimation by the Winner, the Winner, in order to be entitled to claim and be eligible to avail the holiday package shall be required to produce documents that may be required by the holiday package provider in its sole discretion.</li>
<li>The prizes are non-transferrable and are solely for the benefit of the winner.</li>
<li>If for any reason this Contest is not capable of running as planned for reasons including but not limited to infection by computer virus, bugs, tampering, unauthorized intervention, fraud, technical failures or any other causes beyond the reasonable control of American Express which corrupts or affects the administration security, fairness, integrity or proper conduct of this Contest, American Express shall not be liable in any way.</li>
<li>American Express reserves the right to disqualify any individual who tampers with the entry process and to cancel, terminate, modify or suspend the Contest.</li>
<li>American Express reserve the right to change, amend, extend, withdraw and/or alter any of the terms and conditions and prizes of this offer at any time without prior notice or giving any reasons.</li>
<li>Disputes, if any, will be subject to Indian laws and shall be subject exclusively to the jurisdiction of the courts in New Delhi.</li>
<li>American Express has engaged with Digiqom Solutions Pvt Ltd. as its agency to manage the overall program and collect and retain information/data of the Eligible Contestants who participates in the contest through the Application and also contact such Eligible Contestants. For details of American Express Data Privacy Policy, please log on to http://www.americanexpress.co.in.</li>
</ul>
                  <br/>
                  <h3>Cleartrip.com</h3><br/><br/>
                  <ul>

                     <li>And for the winners, here’s how you can redeem your prizes sponsored by Cleartrip.com</li>
<li>
How to redeem your Cleartrip.com vouchers ?
<div class="li_contain">
1. The winners will be notified individually & will be given a specific URL & account details to
    proceed with their bookings.<br>
2. Book any Flight or Hotel for any travel date of your choice.<br>
3. Select 'Pay with Deposit A/c' on the payment page & proceed with booking<br>
4. You can book any Flight & Hotel upto the maximum voucher value..<br>
5. If your transaction value is less than the value of your voucher, then you can always use the balance amount to make more bookings on the same/later date.<br>
6. Valid for transactions between 07 December 2013 to 07 January 2014. Dates of Travel are completely open.<br>
</div>
</li>
<li>
Anything else I need to know ?
<div class="li_contain">
    1. You can book any flight/hotel available on the URL which will be communicated to you separately.<br>
2. You can book as many times as you wish upto a maximum total value of your voucher across all your transactions.<br>
3. Valid on payments made with 'Pay with Deposit Account' only. If you wish to pay by any other mode of payment, you will be charged for the entire amount.<br>
4. Upon usage of your voucher amount, you can continue booking with your own Netbanking Account or Debit/Credit Card upon which you will be charged for the entire amount of such booking.<br>
5. Any funds balance in your Deposit Account on 01 December 2013 will be forfeited & Cleartrip will not entertain any request or claims for the same.<br>
6. In case you cancel the booking (in part or full), standard cancellation charges of the Airline/Hotel & Cleartrip will apply<br>
7. Cleartrip is not responsible nor liable for any loss arising from the misuse of http://tulikagargaexp.cleartripforbusiness.com<br>
8. Cleartrip reserves the right to change or withdraw the promotion, anytime at the sole discretion of the Management. The terms and conditions of this promotion are subject to change without any prior notice.<br>
9. The product and services offered by Cleartrip Private Limited are governed by the terms of use prescribed by Cleartrip on its site http://tulikagargaexp.cleartripforbusiness.com & www.cleartrip.com and as amended from time to time.<br>
10. Flights & Hotels are subject to availability.<br>
11. Disputes are subject to Mumbai jurisdiction.<br>
</div>
</li>



                  </ul>
              </div>

      </div>
           

    
      
    </div>



</div>

{% endblock bodycontent %}


{% block footerbase %}
<div class="fotter" style="clear: both;">

    <div class="fotter_tnc">
        <div class="card_tnc"><a target="_blank" href="https://www.americanexpress.com/in/content/payback-card/">
            <img border="0" src="{{ MEDIA_URL }}images/pay_back_card.png"></a></div>

        <div class="fotter_text_2">
            <div class="american_express"> The New American Express PAYBACK<sup>&reg;</sup> Credit Card</div>
            <div class="rewards"> rewards you with points from both American Express and  PAYBACK .</div>


        </div>
        <div class="apply_now_tnc"><a target="_blank" href="https://www252.americanexpress.com/inga2/ind/pers/begin.do?perform=IntlEapp:IND:payback_credit&amp;linknav=IN-PaybackDetails-ApplyNow"><div class="apply_now_tnc_hover"></div></a></div>
    </div>

</div>
    <div class="copyright">Copyright &copy; 2013 American Express Company</div>

{% endblock footerbase %}