{% extends "layoutbase.html" %}

{% block css.custom %}
    <style type="text/css">

    .poitee,.poitee_hand{display: none;}
    </style>
{% endblock css.custom %}

{% block bodycontent %}

<div class="contant_outer_tnc">
      <div class="left_contain_tnc">
        	<div class="tnc_logo"><a href="index.html"><img src="{{MEDIA_URL}}images/goa_jao_tnc.png" border="0"></a></div>
            <div class="about">
            <h3>About the contest</h3><br><br>

     <strong>Rewarding Jodi Contest</strong> is a Facebook contest brought to you by American Express.
     Between &lt;date&gt; and &lt;date&gt; ("Contest Period"), the contest will encourage users to select or create ‘Jodis’ on Facebook through the contest application, and get ‘Likes’ from friends. Contestants with highest ‘Likes’ on their ‘Jodis’ will stand a chance to win exciting prizes. 
Participation <br>
<br>
<strong>Participation </strong><br>

To participate in the contest, you have to create your favorite ‘Jodi’ or chose from the existing list of ‘Jodis’. You can then ask your friends to ‘Like’ your Jodi. If you get the maximum number of ‘Likes’ on your ‘Jodi’ during the contest period, you stand a chance to win the contest.<br><br>
<strong>Winning</strong><br>

The Eligible Contestant who gets the maximum ‘Likes’ on his/her ‘Jodi’ for the contest period, will be declared the winner. <br>
<br>
 
At any point in the contest, you can check the trending Contestants and their ‘Like’ scores on the Leaderboard page. <br><br>

<strong>Notification</strong><br>


All communication about the application will be published on the American Express Facebook page. Make sure you 'Like' the page to catch all the contest updates, tips and winner announcements on your Facebook Newsfeed. <br>
<br>

Lucky winners will also be informed via the e-mail ID shared on Facebook.<br>

         
            </div>
      
        
      </div>
           
    <div class="right_contant_tnc_2">
      <div class="garima_header_tnc">	
        <h3>Term and Conditions</h3>
           <div class="clear"></div>
      </div>
   
   
 <div class="term_and_condition_contain">
 	<ul>
    	<li>
This Contest is open to Eligible Contestants as set out below.
Eligible Contestants are participants who:<br>
<div class="li_contain">a.	are at least 21 years of age;<br>
b.	reside in India at the time of participation in the Contest;<br>
c.	have a Facebook account;<br>
d.	allow access to the <App Name> on Facebook ("the Application").<br>
</div>
</li>
	<li>From &lt;date&gt; to &lt;date&gt; ("Contest Period"), eligible Contestants may participate in the Contest by either selecting from or submitting their favorite ‘Jodi’ via the Application. There is no limit to the number of ‘Jodis’ that one can submit</li>
    
    <li>Eligible Contestants may get their Facebook friends to ‘like’ the Jodi submitted. There is no limit to the number of ‘Jodis’ that each friend may vote for. However, each Friend may only vote once for each ‘Jodi’ submitted</li>
    
    <li>Eligible Contestant who gets the maximum number of ‘likes’ during the contest period, will be the winner </li>
    
    <li>American Express reserves the right to reject and delete ‘Jodis’ that it deems inappropriate. American Express will have the sole and final discretion in selection of the winners and will not entertain any requests in this regard </li>
    
    <li>Announcement of the Contest winners will be done through the American Express India Facebook page newsfeed <a href="https://www.facebook.com/AmericanExpressIndia" target="_blank" style="color:#215578;">facebook.com/AmericanExpressIndia </a></li>
    
    <li>In case of a tie, the American Express jury will select the winner based on the most ‘Liked’ Jodi</li>
    
    <li>By participating in the Contest, each Eligible Contestant agrees to be contacted by American Express for any marketing or promotional program</li>
    
    <li>By participating in the Contest, each Eligible Contestant grants American Express a worldwide and irrevocable license to publicise his/her name in such mode and manner as it considers fit</li>
    
    <li>Within 5 (five) days from receipt of intimation  by the Winner, the Winner, in order to be entitled to claim and be eligible to avail the holiday package shall be required to produce documents that may be required by the holiday package provider in its sole discretion</li>
    
    <li>The prizes are non-transferrable and are solely for the benefit of the winner</li>
    
    <li>If for any reason this Contest is not capable of running as planned for reasons including but
not limited to infection by computer virus, bugs, tampering, unauthorized intervention, fraud,
technical failures or any other causes beyond the reasonable control of American Express which corrupts or affects the administration security, fairness, integrity or proper conduct of this Contest, American Express shall not be liable in any way</li>
    
    <li>American Express reserves the right to disqualify any individual who tampers with the entry process and to cancel, terminate, modify or suspend the Contest</li>
    
    <li>American Express reserve the right to change, amend, extend, withdraw and/or alter any of the terms and conditions and prizes of this offer at any time without prior notice or giving any reasons</li>
    
    <li>Disputes, if any, will be subject to Indian laws and shall be subject exclusively to the jurisdiction of the courts in New Delhi</li>
    
    <li>American Express has engaged with Digiqom Solutions Pvt Ltd. as its agency to manage the overall program and collect and retain information/data of the Eligible Contestants who participates in the contest through the Application and also contact such Eligible Contestants. For details of American Express Data Privacy Policy, please log on to <a href="https://www.americanexpress.com/india/" target="_blank" style="color:#215578;">www.americanexpress.co.in</a></li>
    
   </ul>
 </div>

    
       
   
    </div>  
    
      
    </div>





{% endblock bodycontent %}


{% block footerbase %}
<div class="foter_box">

    <div class="fotter_tnc">
        <div class="card_tnc"><a target="_blank" href="https://www.americanexpress.com/in/content/payback-card/">
            <img border="0" src="{{ MEDIA_URL }}images/pay_back_card.png"></a></div>

        <div class="fotter_text_2">
            <div class="american_express"> The New American Express PAYBACK<sup>&reg;</sup> Credit Card</div>
            <div class="rewards"> rewards you with points from both American Express and  PAYBACK -<br>
                India’s largest loyalty programme.</div>


        </div>
        <div class="apply_now_tnc"><a target="_blank" href="https://www252.americanexpress.com/inga2/ind/pers/begin.do?perform=IntlEapp:IND:payback_credit&amp;linknav=IN-PaybackDetails-ApplyNow"><div class="apply_now_tnc_hover"></div></a></div>
    </div>

</div>
    <div class="copyright">Copyright &copy; 2013 American Express Company</div>

{% endblock footerbase %}