{% extends "layoutbase.html" %}
{% block bodycontent %}


<div class="contant_outer_2">
 	    <div class="left_contant_2">
        	<div class="form_top"></div>
            <div class="facebook"><a href="https://www.facebook.com/AmericanExpressIndia" target="_blank"><div class="facebook_hover"></div></a></div>
            <div class="clear"></div>
            <div class="card_2"><a href="https://www.americanexpress.com/in/content/payback-card/" target="_blank"><img src="{{MEDIA_URL}}/images/pay_back_card.png" border="0"></a></div> 
        </div>
       
        <div class="center_contant_2">
         	<div class="goa_jao_2"><img src="{{MEDIA_URL}}/images/rewarding_small.png"></div>
                <div class="treading_rodis"><img src="{{MEDIA_URL}}/images/treading_jodis.jpg"></div>
                <div class="jodi_menu">
                    <ol>
                      {% for jodi in trending_jodi %}
                          <li class="odd"><a href="#"> {{forloop.counter}}.  {{jodi}}</a></li>
                      {% endfor %}    
                    </ol>
                	<!-- <ol>
                    	<li class="odd"><a href="#">1.  Santa & Banta</a></li>
                        <li><a href="#">2. Chai & Samosa</a></li>
                        <li class="odd"><a href="#">3. Nachos & Salsa</a></li>
                        <li><a href="#">4. Rabri & Jalebi</a></li>
                        <li class="odd"><a href="#">5. Rumali roti & kababs</a></li>
                        <li><a href="#">6. Chacha choudhary & Saboo</a></li>
                        <li class="odd"><a href="#">7. French fries & burgers</a></li>
                        <li><a href="#">8. Bread & Jam</a></li>
                        <li class="odd"><a href="#">9. Chocolate & strawberry</a></li>
                        <li><a href="#">10. Sun & Sand</a></li>
               
                    </ol> -->
                
                </div>
          </div>
      
    <div class="right_contant_2">
    <div class="garima_header">	
        <h2>Hi {{name}}</h2>
        <div class="facebook_icon"><img src="{{MEDIA_URL}}/images/facebook_icon.png"></div>
        <div class="clear"></div>
    </div>
    {% if redirect %}
    <div class="make">You have already created your Jodi.</div>
    {% else %}
    <div class="make">Thank you for submitting your favorite Jodi</div>
    {% endif %}
    <div class="harmonium">{{selected_jodi.jodi}}</div>
   	<div class="your_jodi">
           Your Jodi is at rank {{jodiRank}} in the Rewarding Jodi Batao Contest.
           </div>
	
    <div class="hurry">You can share your Jodi again and get more votes from your friends.</div>


         <div class="share_now"><input data-jodiid="{{selected_jodi.id}}"  type='submit' class="shareagain share_now_hover" style="border: 0px;"  name='submit' value=''></div>



    
    </div>

    <div class="terma_and_condition_2"><a href="{% url leader_board %}" target="_blank" >Leader Board</a> <span>|</span>
        <a class="marright" hrpost_on_wallef="{% url about %}" target="_blank">About the Contest</a><span>|</span>
        <a class="marright" href="{% url terms %}" target="_blank">Terms and Conditions</a></div>

</div>
      
    </div>

    <div class="box cls_msg disable">

        <div class="right_just">You have successfully shared your jodi .
        </div>

    </div>
{% endblock bodycontent %}